<div id="preFooter" class="">
        <div class="pre-footer-inner" id="yui_3_17_2_10_1461084375301_1632">
          <div class="sqs-layout sqs-grid-12 columns-12 sqs-frontend-overlay-editor-widget-host" data-layout-label="Pre-Footer Content" data-type="block-field" data-updated-on="1406661050940" id="preFooterBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2" data-block-type="54" id="block-yui_3_17_2_1_1406660821033_8373"><div class="sqs-block-content"><nav class="sqs-svg-icon--list social-icon-alignment-center social-icons-color-white social-icons-size-large social-icons-shape-circle social-icons-style-knockout"></nav></div></div></div></div></div>
        </div>
      </div>

<footer id="footer" role="contentinfo">
        <div class="footer-inner">
          <div class="nav-wrapper back-to-top-nav"><nav><div class="back-to-top"><a href="#header" id='back-to-top'>Back to Top</a></div></nav></div>
          


          
          <div class="sqs-layout sqs-grid-12 columns-12 sqs-frontend-overlay-editor-widget-host" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1456895570456" id="footerBlocks"><div class="row sqs-row" id="yui_3_17_2_10_1461084375301_1637"><div class="col sqs-col-12 span-12" id="yui_3_17_2_10_1461084375301_1636"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-713fe491a2c303b33937"><div class="sqs-block-content" id="yui_3_17_2_10_1461084375301_1635"><p class="text-align-center" id="yui_3_17_2_10_1461084375301_1634">Powered by <a target="_blank" href="http://www.squarespace.com?channel=word_of_mouth&amp;subchannel=customer&amp;source=footer&amp;campaign=4fd1028ee4b02be53c65dfb3">Squarespace</a></p></div></div></div></div></div>
        </div>
      </footer>

<script type='text/javascript'>
	$('#back-to-top').click(function(){
		$('html, body').animate({ scrollTop: 0 }, 'fast');
        })
</script>
