<div id="promotedGalleryWrapper" class="sqs-layout promoted-gallery-wrapper">
  <div class="row">
     <div class="col">
     </div>
  </div>
</div>
<main id="page" role="main">
        
        <!-- comment the linebreak between these two elements because science
        --><!-- comment the linebreak between these two elements because science
        --><!-- comment the linebreak between these two elements because science
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="570dd6c18259b563851d6b23" data-edit-main-image="Banner">
         <div class="sqs-layout sqs-grid-12 columns-12 sqs-frontend-overlay-editor-widget-host" data-type="page" data-updated-on="1460524859220" id="page-570dd6c18259b563851d6b23"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-d7ae175a707b3e07101d"><div class="sqs-block-content"><p>LnB is located in Manhattan, NY. For more information or questions, please contact at contact@LnB.com</p></div></div></div></div></div>
        </div><!-- comment the linebreak between these two elements because science
        -->
        
      </main>
