<div id="promotedGalleryWrapper" class="sqs-layout promoted-gallery-wrapper">
  <div class="row">
     <div class="col">
     </div>
  </div>
</div>

<main id="page" role="main">
        
        <!-- comment the linebreak between these two elements because science
        --><!-- comment the linebreak between these two elements because science
        --><!-- comment the linebreak between these two elements because science
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="570dd51f37013bba012f4e62" data-edit-main-image="Banner">
         <div class="sqs-layout sqs-grid-12 columns-12 sqs-frontend-overlay-editor-widget-host sqs-frontend-overlay-editor-widget-host-nearby" data-type="page" data-updated-on="1460525145179" id="page-570dd51f37013bba012f4e62"><div class="row sqs-row" id="yui_3_17_2_16_1461084375301_1796"><div class="col sqs-col-12 span-12" id="yui_3_17_2_16_1461084375301_1795"><div class="sqs-block form-block sqs-block-form" data-block-type="9" id="block-yui_3_17_2_15_1460523909086_4824"><div class="sqs-block-content" id="yui_3_17_2_16_1461084375301_1802">

<div class="form-wrapper" id="yui_3_17_2_16_1461084375301_1801">

  

  

    <div class="form-inner-wrapper" id="yui_3_17_2_16_1461084375301_1800">

      <form autocomplete="on"  role='form' ng-controller='loginCtr' name='userLoginForm' ng-submit='Login(userLoginForm.$valid)' novalidate>
          <div class="field-list clear" id="yui_3_17_2_16_1461084375301_1804">

                <div id="text-yui_3_17_2_1_1460523909086_25749" class="form-item field text required">
                  <label class="title" for="text-yui_3_17_2_1_1460523909086_25749-field" id="yui_3_17_2_16_1461084375301_1811">Username </label>
                  
                  <input class="field-element text" type="text" name="username" ng-model="user.username" required >
                   <p ng-show="userLoginForm.username.$error.required" class="help-block">You name is required.</p>
                </div>
              

                <div id="password-yui_3_17_2_1_1460523909086_26400" class="form-item field password required">
                  <label class="title" for="password-yui_3_17_2_1_1460523909086_26400-field">Password </label>
                  
                  <input class="field-element" type="password" name="password" ng-model="user.password"  ng-minlength="6"  required>
		  <p ng-show="userLoginForm.password.$error.minlength" class="help-block">Your password is too short.</p>
   		  <p ng-show="userLoginForm.password.$error.required" class="help-block">Your password is required.</p>
                </div>
              
          </div>

        

        
        <div class="form-button-wrapper form-button-wrapper--align-left" id="yui_3_17_2_16_1461084375301_1798">
          <input class="button sqs-system-button sqs-editable-button" type="submit" value="Submit" ng-click="submitted=true">
        </div>
        

        <div class="hidden form-submission-text">Thank you!</div>

        <div class="hidden form-submission-html" data-submission-html=""></div>
      </form>

    </div>

  

</div>
</div></div>

<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-05f57c6ff3cf5ea036de"><div class="sqs-block-content"><p>Forgot my password?&nbsp;&nbsp;</p></div></div>

<div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_31_1460523909086_5616"><div class="sqs-block-content">
<div class="sqs-block-button-container--left">
	<a href="#/forgot" class="sqs-block-button-element--small sqs-block-button-element">Click here</a>
</div></div></div>
<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-05f57c6ff3cf5ea036de"><div class="sqs-block-content"><p>Create Username and Password?&nbsp;&nbsp;</p></div></div>

                <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_31_1460523909086_5616"><div class="sqs-block-content">
                    <div class="sqs-block-button-container--left">
                        <a href="#/create" class="sqs-block-button-element--small sqs-block-button-element" >Sign Up</a>
                    </div>
</div>
</div>
</div>
        
</div><!-- comment the linebreak between these two elements because science
        -->
        
      </main>
  



  
